<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @secret.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @secret.category %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @secret.likes %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @secret.dislikes %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @secret.comments.map { |e| e.content  } %>
</p>

<p>
  <strong>How many comments? :</strong>
  <%= @secret.comments.size %>
</p>

<%= link_to 'Edit', edit_secret_path(@secret) %> |
<%= link_to 'Back', secrets_path %>
